* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-weight: 200;
}
body {
    font-family: sans-serif;
    background:linear-gradient(0.85turn,#ffe4f1,#dbe8ff, #c5f1ff,#feedff);

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px 35px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px 10px #8198a8;
    
}

.display-screen {
    height: 120px;
    width: 450px;
    margin: 5px 0;
/*
    height: 130px;
    width: 100%;
    margin: 15px 0;
*/
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #f8fafb;
    border-radius: 27px;

/*
    background-color: #e8f7ff;
    border-radius: 40px;
*/
    font-weight: bold;
    box-sizing: border-box;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 50px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

.button0 {
    height: 100px;
    width: 210px;
    border: 0;
    border-radius: 20px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #FFF5DD;

/*
    background-color: #fae5fa;
*/
}

.button0:hover {
    height: 100px;
    width: 210px;
    border: 0;
    border-radius: 20px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #fff0ad;
/*
    background-color: #ffdaff;
    color: rgb(255, 255, 255);
*/
    font-size: xx-large;

}

/* button equal */
button#equal {
    height: 100px;
}

/* button AC */
.buttonClear {
    background-color: #dcd152;
    font-size: x-large;
}

.buttonClear:hover {
    background-color: #c0b434;
    color: white;
}

.calculator {
    background-color: rgb(0, 0, 0);
/*
    background-color: #d3d3ff;
    color: rgb(255, 255, 255);
    font-size: x-large;
*/
}

/*
.calculator button.btn-equal {
    background-color: #fae5fa;
    color: #000;
}
*/

/* dark theme */
.calculator.dark {
    background: linear-gradient(#76cdff, #57cdff,#ffffe4);
}

.calculator.dark button.btn-equal {
    background-color: #d3d3ff;
    color: #ffffff;
}

/* button number */
.calculator.dark button.btn-number {
    background-color: #FFF5DD;
    font-size: large;
}

.calculator.dark button.btn-number:hover {
    background-color: #fff0ad;
/*
    background-color: #fae5fa;
    color: #000000;
    font-size: 30px;
*/
}

/*
.calculator.dark button.btn-number:hover {
    background-color: #ffdaff;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}
*/

/* button operator */
.calculator.dark button.btn-operator {
    background-color: #d3d3ff;
    color: #000000;
}

.calculator.dark button.btn-operator:hover {
    background-color: #acacff;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}